.PictureGrid_wrapper {
    display: grid;
    justify-items: center;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    max-height: calc(128px*4 + 16px*3);
    padding: 16px;
    width: 100%;
}