.DatePage_wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px;
    margin: auto;
}

.DatePage_body {
    display: grid;
    gap: 48px;
    animation: 1s show ease;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "dateInfo"
        "weekList";
    width: 100%;
}

.SelectedDateInfo {
    grid-area: dateInfo;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    flex-direction: row;
    gap: 48px;
    align-items: center;
}

.Date_PictureInfo {}

.Date_TextInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 24px;
}

.Date_TextInfo header,
p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.Date_TextInfo header {
    gap: 8px;
}

.Date_title {
    font-size: 3rem;
}

.Date_copyright {
    font-size: 2.5rem;
    font-weight: normal;
}

.Date_explanation {
    font-size: 1.5rem;
}

.WeekDateInfo {
    grid-area: weekList;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    justify-self: center;
    overflow: auto;
    width: 100%;
}

.DatePage_wrapper .PictureGrid_wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
}

@media screen and (max-width: 1024px) {
    .DatePage_wrapper {
        padding: 48px 48px;
    }

    .SelectedDateInfo {
        grid-template-columns: 1fr;
    }

    .Date_title {
        font-size: 2rem;
    }

    .Date_copyright {
        font-size: 1.5rem;
    }

    .Date_explanation {
        font-size: 1rem;
    }

    .Date_TextInfo {
        margin: 0px;
    }
}

@media screen and (max-width: 768px) {
    .DatePage_body {
        gap: 24px;
    }
}