.Picture_wrapper {
    display: flex;
    margin: auto;
    max-height: 712px;
    max-width: 712px;
    width: 100%;
    height: 100%;
    justify-content: center
}

.Picture_img {
    object-fit: contain;
    height: auto;
    max-width: 100%;
    border-radius: 12px;

    filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.25));
    transition: 0.25s;
}

.Picture_imgHovered:hover {
    filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}