.PeriodPage_wrapper {
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    background: inherit;
    flex-direction: column;
    justify-content: space-between;
}

.PeriodPage_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    padding: 48px;
    animation: 1s show ease;
    margin-bottom: 80px;
    align-items: center;
}

.PeriodPage_body header h1 {
    font-weight: normal;
}

.PeriodPage_wrapper .PictureGrid_wrapper {
    overflow: hidden;
    overflow-y: scroll;
}

@media screen and (max-height: 768px) {
    .PeriodPage_body header h1 {
        font-size: 1rem;
    }
}


@media screen and (max-width: 768px) {
    .PeriodPage_body {
        padding: 24px;
    }
}

@media screen and (max-height: 768px) {
    .PeriodPage_wrapper .PictureGrid_wrapper {
        width: 80vw;
        height: 80vh;
    }
}

@media screen and (max-width: 1024px) {
    .PeriodPage_wrapper .PictureGrid_wrapper {
        width: 80vw;
        padding: 0px 8px 0px 16px !important;
    }
}