.App {
  display: flex;
  flex-direction: column;

  text-align: center;
  font-family: 'Inria Sans';
  width: inherit;
  min-height: -webkit-fill-available;
  background: linear-gradient(180deg, #F3F3F3 0%, #3A3A3A 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
option {
  font-family: 'Inria Sans';
  margin: 0;
  padding: 0;
  line-height: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}